.projectPageHeader {
  width: 100%;
  height: calc(100vh - 56px);
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .projectPageHeaderImageAndTitle {
    transform: translateY(-2rem);

    @media only screen and (max-width: 1200px) {
      transform: translateY(-4rem);
    }

    .projectItem {
      aspect-ratio: 2 / 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .projectImage {
        position: relative;
        min-width: 100%;
        max-width: 300px;
        aspect-ratio: 2 / 3;
  
        & img {
          object-fit: contain;
        }
      }
      
      .projectTitle {
        margin-bottom: 0.2rem;
      }
  
      & p {
        font-size: 12px;
        color: var(--black-faded);
      }
    }

    & h3 {
      text-align: center;
      margin-top: 1rem;
      letter-spacing: 1.2px;
    }
  }

  & svg {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    color: var(--black);
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
      bottom: calc(0.5rem + 40px);
    }
  }
}

.projectContent {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }

  /* Images Column */
  .mainColumn {
    flex: 1.5;
    height: 100%;
    padding: 1rem 1rem 40px 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari and Opera */
    }
  }


  /* Text content Column */
  .sideColumn {
    flex: 1;
    height: 100%;
    padding: 1rem 1rem 40px 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari and Opera */
    }

    .projectTitle {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    .projectDetails {
      margin-bottom: 2rem;

      .detailRow {
        text-align: justify;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        font-size: 12px;
        color: var(--black-faded);
        padding-bottom: 0.5rem;

        .detailLabel {
          color: #000;
          font-weight: 500;
          width: 100px;
          flex-shrink: 0;
          font-weight: bold;
        }

        .detailValue {
          flex-grow: 1;
        }
      }
    }

    .projectDescription {
      .descriptionTitle {
        color: var(--black-faded);
        letter-spacing: 1.2px;
        font-size: 12px;
      }

      &>h4 {
        font-size: 12px;
        margin-bottom: 1rem;
        color: var(--black-faded);
        letter-spacing: 1.1px;
      }

      &>p {
        line-height: 1.6;
        font-size: 12px;
        letter-spacing: 1.2px;
        text-align: justify;
      }
    }
  }
}