.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 0 0 0 1.25rem;
  margin-top: 2rem;

  /* Update this after mobile designs */
  @media only screen and (max-width: 768px) {
    gap: 2rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  @media only screen and (max-width: 600px) {
    gap: 1.5rem;
    padding: 0.25rem 0 0 0;
  }
}

.photoWrapper {
  width: fit-content;

  @media only screen and (max-width: 600px) {
    align-self: center;
  }
}

.photo {
  display: block;
  width: auto;
  height: auto;
  max-width: 11.25rem;
  max-height: 11.25rem;
  object-fit: cover;
  filter: grayscale(100%);
  border: 1px solid var(--black);
  padding: 2px;

  @media only screen and (max-width: 768px) {
    max-width: 9rem;
    max-height: 9rem;
  }

  @media only screen and (max-width: 600px) {
    max-width: 7.5rem;
    max-height: 7.5rem;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & p {
    font-family: "Regular";
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--black);
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 0.8125rem;
    }
  }
}

.bold {
  font-family: "Bold";
}
