.bgGrid {
  position: fixed;
  inset: 0;
  background-image: 
    linear-gradient(to right, rgb(248, 246, 246) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(248, 246, 246) 1px, transparent 1px);
  background-size: 15px 15px;
  z-index: -1
}