.headerContent {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;

  & ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    font-size: 0.8rem;

    & li {
      cursor: pointer;
      color: rgba(0,0,0,60%);
    }
  }
}