.bulletinSection {
  .divider {
    border-top: 1px solid var(--black);
  }

  .bulletin {
    border-bottom: 1px solid var(--black);
    padding-top: 10px;

    .date {
      font-size: 1.5rem;
      text-align: justify;
      height: 35px;
  
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0px;
      }
    }
  
    .title {
      text-align: justify;
      font-size: 12px;

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0px;
      }
    }
  }
}


