.projectsPage {
  max-width: 1400px;
  margin: 0 auto;
  /* Accomodate events panel */
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
  
  @media only screen and (max-width: 992px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
  
  @media screen and (max-width: 600px) {
    grid-template-columns: minmax(300px, 1fr);
  }
  
  .projectItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: 1rem 0;
    
    .projectImage {
      position: relative;
      min-width: 60%;
      max-width: 100px;
      aspect-ratio: 2 / 3;

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        transition: opacity 0.4s ease-out;
      }

      .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }

      & img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .projectInfo {
      text-align: center;
      margin-top: 1rem;
    }
    
    .projectTitle {
      font-size: 12px;
      margin-bottom: 0.2rem;
      letter-spacing: 1.1px;
      font-weight: 500;
    }

    /* .projectDetails {
      font-size: 12px;
      color: var(--black-faded);
    } */

    &:hover {
      .imageContainer {
        opacity: 0;
      }

      .imageOverlay {
        opacity: 1;
      }
    }
  }
}