.contactContainer {
  height: 100%;
  width: 100%;
  padding: 1rem;

  .contactContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .imageContainer {
      width: 600px;
      aspect-ratio: 3 / 2;
  
      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        display: block;
      }
    }

    .contactInfo {
      display: flex;
      gap: 4rem;
      font-size: 13px;

      .contactItem {
        display: flex;
        gap: 1rem;

        align-items: center;

        .contactType {
          font-size: 3rem;
        }

        & a {
          text-decoration: underline;
        }
      }

      .socialLinks {
        display: flex;
        gap: 1rem;

        align-items: center;

        .contactType {
          font-size: 3rem;
        }

        & a {
          text-decoration: underline;
        }
      }
    }
  }
}
