.projectPageHeader {
  width: 100%;
  height: calc(100vh - 56px);
  padding: 1rem;

  .projectPageHeaderImageAndTitle {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .projectDrawingsCarouselContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 0 auto;
      max-width: 600px;
      width: 90%;
      height: 80%;

      @media only screen and (max-width: 768px) {
        width: 100%;
        gap: 0.5rem;
      }

      /* Next and Previous buttons */
      & button {
        all: unset;
        cursor: pointer;
        height: 30px;
        width: 30px;

        &:disabled {
          color: var(--black-faded);
          cursor: default;
        }

        &:hover:enabled {
          transform: scale(1.2);
          transition: transform 0.1s ease-in-out;
        }
      }

      /* Hover to reveal image overlay container */
      .projectItem {
        height: 100%;
        width: 100%;

        .projectImage {
          position: relative;
          width: 100%;
          height: 100%;

          .imageContainer {
            width: 100%;
            height: 100%;
            transition: opacity 0.4s ease-out;
          }

          .imageOverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.4s ease-out;
          }

          & img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }

        &:hover {
          .imageContainer {
            opacity: 0;
          }

          .imageOverlay {
            opacity: 1;
          }
        }
      }

      .projectDrawingsCarousel {
        height: 100%;
        width: 100%;
        max-height: 600px;
        max-width: 600px;
      }
    }
  }

  & h3 {
    text-align: center;
    margin-top: 1rem;
  }

  .scrollToContentButton {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    color: var(--black);
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
      bottom: calc(0.5rem + 40px);
    }
  }
}
