
.masonryColumns {
  column-count: 3;
  column-gap: 1rem;
}

/* Responsive column counts */
@media (max-width: 640px) {
  .masonryColumns {
    column-count: 1;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .masonryColumns {
    column-count: 2;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .masonryColumns {
    column-count: 3;
  }
}