.eventsPanelContainer {
  --pull-out-header-height: 40px;
  --past-event-background-color: rgba(0, 0, 0, 0.1);
  --past-event-color: var(--black-faded);
  --upcoming-event-background-color: #f9eb7a99;

  z-index: 999;

  position: fixed;
  right: 0;

  width: 50vw;
  max-width: 35vw;
  height: calc(100vh - var(--pull-out-header-height));

  /* Animation properties */
  top: calc(100vh - var(--pull-out-header-height));
  transition: top 1s cubic-bezier(0.72, 0, 0, 1);

  &.animateIn {
    top: 0;
  }

  @media only screen and (max-width: 1200px) {
    max-width: 50vw;
  }

  @media only screen and (max-width: 768px) {
    width: 100vw;
    max-width: 100vw;
  }

  .eventsPanelHeader {
    border: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--pull-out-header-height);
    background-color: #cecece83;
    backdrop-filter: blur(4px);
    padding: 0 0.5rem;
    cursor: pointer;

    .title {
      font-size: 0.8rem;
      color: black;
      letter-spacing: 1.2px;
      font-family: 'Regular';
    }
  }

  .eventsPanelContent {
    background-color: #ffffffac;
    backdrop-filter: blur(4px);
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;

    .eventWrapper {
      font-size: 0.8rem;
      cursor: pointer;
      border-top: 1px solid black;

      .eventImage {
        width: 370px;
        height: 500px;
        overflow: hidden;
        position: relative;
        margin-top: 0.5rem;

        & img {
          height: auto;
          width: 100%;
          object-fit: contain;
          object-position: center;
        }
      }

      .eventContent {
        all: unset;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }
        
        &:hover:focus {
          outline: 2px solid transparent;
          outline-offset: 1px
        }
      }

      .eventDescription { 
        display: flex;
        padding: 0 0.5rem 0 0.5rem;

        .eventDescriptionLeftColumn {
          flex: 2;
          padding: 0 0.5rem;
          margin-bottom: 0.5rem;
          border-right: 1px solid;
          font-size: 11px;

          & a {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;

            & span {
              text-decoration: underline;
              font-size: 12px;
              margin-right: 0.2rem;
            }
          }
        }

        .eventDescriptionRightColumn {
          flex: 1;
          padding: 0 0.5rem;
          font-size: 11px;

          & ul {
            list-style: none;
            padding: 0;
            margin: 0.5rem 0 0 0;

            & li {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }

    .pastEvent {
      background-color: rgba(0, 0, 0, 0.1);
      color: var(--black);
    }

    .upcomingEvent {
      background-color: var(--upcoming-event-background-color);
    }

    .divider {
      width: 100%;
      border-bottom: 1px solid;
    }
  }

  .eventsPanelFooter {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    text-transform: uppercase;
    font-size: 12px;

    .upcomingColor {
      border: 0.5px solid;
      width: 12px;
      height: 12px;
      background-color: var(--upcoming-event-background-color);
    }

    .pastColor {
      border: 0.5px solid;
      width: 12px;
      height: 12px;
      background-color: var(--past-event-background-color);
    }
  }
}