.sidebar {
  width: 20%;
  height: 100vh;
  max-width: 195px;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;

  &.interactionEnabled {
    visibility: visible;
    opacity: 1;
    overflow-x: hidden;
  }

  .sidebarInner {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .sidebarInner__logoAndNav {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .imaratLogoContainer {
    border: 1px solid black;
    padding: 2px;

    .logoTitle {
      width: 100%;
      font-size: 14px;
      text-align: center;
    }

    .logoUnderline {
      height: 20px;
      width: 100%;
      background-color: black;
      margin-top: 2px;
    }
  }
}

