.sidebar {
  width: 20%;
  max-width: 195px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100dvh;
  overflow-y: auto;
  border-left: 2px solid var(--primary);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .imaratLogoContainer {
    border: 1px solid black;
    padding: 2px;

    .logoTitle {
      width: 100%;
      font-size: 14px;
      text-align: center;
    }

    .logoUnderline {
      height: 20px;
      width: 100%;
      background-color: black;
      margin-top: 2px;
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    max-width: none;
    position: static;
    height: auto;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    order: -1; /* Moves sidebar to the top */
  }
}
