.section1 {
  height: 100vh;
  display: flex;
}

.section2 {
  display: flex;
}

.column1 {
  width: 70%;
  padding: 0.5rem;
}

.column2 {
  flex-grow: 1;
  padding: 0.5rem;
}

.column3 {
  width: 20%;
  max-width: 195px;
}

@media screen and (max-width: 992px) {
  .column1, .column2 {
    width: 100%;
    max-width: none;
    height: auto;
  }

  .column3 {
    display: none;
  }
}
