.section1 {
  display: flex;
  width: 100%;
}

.column1 {
  flex: 1;
  height: 100dvh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.column2 {
  width: calc(20% + 35px);
  max-width: calc(195px + 35px);
  height: 100dvh;
}